html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.todo.completed{
    text-decoration: line-through;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.form {
    padding: 1%;
    border-bottom: double black;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    line-height: 0%;
}